<nav class="navbar navbar-expand navbar-dark styleNav" aria-label="Second navbar example">
  <a class="navbar-brand mark">
    <img src="/assets/haltere.png" alt="Logo" class="logo">
  </a>
  <p class="titre">TRAIN EAT SLEEP REPEAT</p>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Accueil</a>
        </li>

        <li class="nav-item dropdown" [class.show]="isDropdownOpen">
          <a class="nav-link dropdown-toggle Exemples" (click)="toggleDropdown()" role="button" aria-expanded="isDropdownOpen">Exemples</a>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen">
            <li><a class="dropdown-item" routerLink="/search_recipe">Exemple des recettes</a></li>
            <li><a class="dropdown-item" routerLink="/search_exercise">Exemple des exercices</a></li>
          </ul>
        </li>

      </ul>

      <li class="nav-item dropdown" [class.show]="isSearchDropdownOpen">
        <a class="nav-link dropdown-toggle recherche" (click)="toggleSearchDropdown()" role="button" aria-expanded="isSearchDropdownOpen">Recherche</a>
        <ul class="dropdown-menu" [class.show]="isSearchDropdownOpen">
          <li>
            <form (ngSubmit)="onSubmitSearchRecipe()" #searchRecipeForm="ngForm">
              <input type="text" placeholder="Recherche repas" name="query" [(ngModel)]="searchQueryRecipe" (keydown.enter)="onSubmitSearchRecipe()" aria-label="Search" required>
            </form>
          </li>
          <li>

            <form (ngSubmit)="onSubmitSearchExercise()" #searchExerciseForm="ngForm">
              <input type="text" placeholder="Recherche entraînement" name="query" [(ngModel)]="searchQueryExercise" (keydown.enter)="onSubmitSearchExercise()" aria-label="Search" required>
            </form>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link active connecter" routerLink="/login">Se connecter</a>
      </li>
    </div>
  </div>
</nav>
