<footer class="bg-secondary text-center text-white py-4">
  <div class="container">
    <div class="mb-4">
      <a
        class="btn btn-primary btn-floating m-1"
        href="#"
        role="button"
        style="background-color: #3b5998;"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        class="btn btn-primary btn-floating m-1"
        href="#"
        role="button"
        style="background-color: #55acee;"
      >
        <i class="fab fa-twitter"></i>
      </a>
      <a
        class="btn btn-primary btn-floating m-1"
        href="#"
        role="button"
        style="background-color: #dd4b39;"
      >
        <i class="fab fa-google"></i>
      </a>
      <a
        class="btn btn-primary btn-floating m-1"
        href="#"
        role="button"
        style="background-color: #ac2bac;"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        class="btn btn-primary btn-floating m-1"
        href="#"
        role="button"
        style="background-color: #0082ca;"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

    <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2); color: black;">
      <p class="mb-0">
        <span>Company: </span>
        <a class="text-dark me-4" href="https://www.univ-amu.fr/">Aix-Marseille Université</a>
        <span>Resources: </span>
        <a class="text-dark" href="https://www.fitatu.com/">How to calculate calories</a>
      </p>
    </div>
  </div>
</footer>

<!-- Add Font Awesome and Bootstrap CSS/JS in Angular -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
></script>
