<app-header-authentified></app-header-authentified>
<div class="ExerciseType">
<div class="album py-5 ">
  <div class="title-container">
    <h1>Vos Programmes d'Exercices Numérotés</h1>
  </div>
</div>

<div class="album py-5 ">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/number1.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <a class="lien" routerLink="/ProgramExercise/poitrine/biceps">
              <p class="paragraph">Peck - Biceps</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/number2.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <a class="lien" routerLink="/ProgramExercise/dos/triceps">
              <p class="paragraph">Dos - Triceps</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/number3.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <a class="lien" routerLink="/ProgramExercise/mollet/jambes">
              <p class="paragraph">Mollet - Jambes</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="/assets/number4.png" class="bd-placeholder-img card-img-top" width="100%" height="225">
          <div class="card-body">
            <a class="lien" routerLink="/ProgramExercise/abdos/epaules">
              <p class="paragraph">Abdos - Épaules</p>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
