<app-header-authentified></app-header-authentified>
<div class="indexAuthentified">
<div class="container">
  <div class="info-container">
    <div class="info-title">
      <h2>Vos Informations</h2>
    </div>
    <div class="info-details">
      <ul>
        <li>Calories: {{ userData.calories }} kcal</li>
        <li>Protéine: {{ userData.protein }} g</li>
        <li>Carbohydrates: {{ userData.carbohydrates }} g</li>
        <li>Gras: {{ userData.fat }} g</li>
      </ul>
    </div>
  </div>

  <div class="links-container">
    <div class="link-item">
      <a [routerLink]="['/ExerciseType']">
        <h2>Vos Programmes d'Exercices Personnalisés</h2>
        <img src="/assets/ExerciseProgram.png" alt="Exercice">
      </a>
    </div>

    <div class="link-item">
      <a [routerLink]="['/ProgramRecipe']">
        <h2>Vos Programmes de Nutrition Personnalisés</h2>
        <img src="/assets/RecipeProgram.png" alt="Nutrition">
      </a>
    </div>
  </div>
</div>
</div>
