<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="width: 100%; max-width: 500px;">
    <h3 class="text-center mb-4">Formulaire de Contact</h3>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

      <div class="form-group mb-3">
        <label for="last-name" class="form-label fw-bold">Nom :</label>
        <input id="last-name" type="text" class="form-control" formControlName="lastName" placeholder="Entrez votre nom">
      </div>

      <div class="form-group mb-3">
        <label for="pass-word" class="form-label fw-bold">Prénom :</label>
        <input id="pass-word" type="password" class="form-control" formControlName="password" placeholder="Entrez votre prénom">
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary px-5" [disabled]="profileForm.invalid" >
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
