<app-header></app-header>
  <div class="index">
    <div class="row mb-4 text-center ">
      <div class="col-6 themed-grid-col">
        <div class="text">
          <section>
            <h2>Programmes d'entrainement personnalisés</h2>
            <p>Nos programmes d'entrainement sont conçus pour répondre à vos besoins et objectifs spécifiques. Que vous cherchiez à perdre du poids, gagner en muscle ou améliorer votre condition physique, nous avons les connaissances et l'expertise pour vous aider à atteindre vos objectifs. Nous travaillons avec des entraîneurs certifiés et des professionnels de la santé pour créer des programmes d'entraînement sûrs et efficaces.</p>
          </section>
          <section>
            <h2>Programmes d'alimentation adaptés</h2>
            <p>L'alimentation joue un rôle important dans la réussite de votre programme d'entrainement. C'est pourquoi nous proposons également des programmes d'alimentation personnalisés pour répondre à vos besoins nutritionnels spécifiques. Nous travaillons avec des nutritionnistes qualifiés pour créer des plans d'alimentation qui correspondent à vos objectifs et à votre mode de vie.</p>
          </section>
          <section>
            <h2>Commencez dès maintenant</h2>
            <p>Que vous soyez débutant ou avancé, notre site web est conçu pour vous aider à atteindre vos objectifs de manière efficace et durable. Consultez nos programmes d'entrainement et d'alimentation, et commencez dès maintenant à créer votre propre plan personnalisé.</p>
            <a class="bouttonCommencer" href="/new-user">Commencer</a>
          </section>
        </div>
      </div>
      <div class="col-6 themed-grid-col">
        <div class="image-container" >
          <img class="indexImage" src="https://img.freepik.com/free-photo/side-view-man-jumping-outdoors_23-2149557835.jpg?w=2000">
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>



